.tasks__item {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    justify-content: space-between;
    background-color: #313131;
    border-radius: 3px;

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    &:hover {
        background-color: lighten(#3d3d3d, 4%);
    }

    & > li {
        list-style-type: none;
    }

    &-completed {
        background-color: #263c27;
    }

    &-completed:hover {
        background-color: lighten(#263c27, 4%);
    }

}